.container{
    border: 1px solid gray;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
}
.right{
    width: 30%;
}
.img_div{
    display: flex;
    justify-content: center;
}
.img{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
}
.div_btn{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 40px 0px 10px 0px;
    border: 1px solid gray;
    width: 120px;
    height: 40px;
    align-items: center;
    border-radius: 7px;
}
.btn_btn{
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.btn_btn:focus{
    border: none;
}
.left{
    direction: rtl;
    text-align: right;
    padding: 15px 5px;
}
.h4{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.garenty{
    margin:  10px 0px 20px 0px;
    display: flex;
    align-items: center;
}
.garenty p{
    font-size: 0.8rem;
}
.icons{
    padding: 0px 10px;
    font-size: 1.3rem;
}
.price_div{
    display: flex;
    margin: 30px 10px 0px 0px;
    align-items: center;
}
.price{
    font-size: 1.4rem;
}
.price_span{
    font-size: 0.8rem;
}