.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1000px;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  margin-top: 50px;
}

.slider {
  position: relative;
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: grab;
}

.slider-item {
  position: absolute;
  top: 50%;
  background: #c3ba8b;
  height: auto;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  height: 300px;
}

.slider-image {
  width: 90%;
  height: 150px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slider-description {
  margin-top: 5px;
  font-size: 12px;
  padding: 20px;
  direction: rtl;
  text-align: right;
  background-color: #c3ba8b;
  border-radius: 10px;
}

.slider-item.active {
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  width: 300px;
  height: 300px;
}

.slider-item.left {
  left: 0;
  transform: translate(-40%, -50%) scale(1);
  width: 300px;
  height: 100px;
  filter: blur(2px);
}

.slider-item.right {
  left: 100%;
  transform: translate(-60%, -50%) scale(1);
  width: 300px;
  height: 100px;
  filter: blur(2px);
}

.slider-item.hidden {
  display: none;
}

.slider-button {
  color: black;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  align-items: center;
  display: flex;
}
