.container {
  margin: 20px 0px;
}

.header {
  text-align: right;
  margin: 0px 40px 30px 0px;
  font-family: Peyda;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 161.749%;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  height: auto;
  position: relative;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  justify-content: center;
}

.aside {
  width: 20%;
  height: 70vh;
  background-color: aliceblue;
  margin: 20px 20px;
  direction: rtl;
  border-radius: 15px;
  padding: 20px;
  position: sticky;
  overflow: hidden;
  position: -webkit-sticky;
  top: 40px;
  transition: max-height 0.5s ease-in-out;
}

.filter_header {
  color: #001524;
  text-align: right;
  font-family: Peyda;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  background-color: aliceblue;
}

.title {
  color: #001524;
  text-align: right;
  font-family: Peyda;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 161.749%;
  margin: 15px 10px;
  background-color: aliceblue;
}

.category_filter {
  background-color: aliceblue;
}

.category_filter_label {
  margin: 0px 10px 0px 10px;
  font-size: 0.8rem;
  background-color: aliceblue;
}

.color_filter {
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: aliceblue;
}

.price_filter {
  padding: 5px 10px;
  background-color: aliceblue;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: aliceblue;
  margin-top: 20px;
}

.price_content {
  font-size: 0.8rem;
  font-weight: 400;
  background-color: aliceblue;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #001524;
}

.menuOpen .aside {
  max-height: 1000px; /* ارتفاع کافی برای نمایش محتوا */
}

@media (max-width: 1130px) {
  .category_filter_label {
    font-size: 0.6rem;
  }
  .container {
    text-align: center;
  }
  .header {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .section {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .aside {
    display: block;
    width: 20%;
    position: sticky;
    top: 10px;
    right: 0;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 70%;
    justify-content: left;
  }

  .price {
    padding: 0px;
    width: 50%;
    display: block;
  }
}
.filter_hamburger {
  display: flex;
  background-color: aliceblue;
  justify-content: space-between;
  width: 100%;

  align-items: center;
}
@media (max-width: 895px) {
  .hamburger {
    display: block;
    margin-top: -5px;
  }

  .section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }

  .aside {
    width: 230px;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    position: relative;
    transition: max-height 0.5s ease-in-out;
  }

  .products {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    );
    width: 100%;
    justify-items: center;
  }

  .product_product {
    margin: 0;
  }
  .filter_hamburger {
    margin-top: -18px;
  }
}
