.container {
  width: 45%;
  margin: 50px auto;
  direction: rtl;
}
.header {
  padding: 20px 0px;
  display: block;
  border-radius: 25px;
}
.form {
  text-align: center;
  display: block;
  border: 1px solid #445d48;
  border-radius: 20px;
  align-items: center;
}
.div {
  padding: 30px 0px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}
.label {
  padding: 0px 20px;
  width: 20%;
}
.input {
  border: 1px solid #445d48;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}
.input:focus {
  outline: none;
}
.btn {
  display: block;
  width: 40%;
  background-color: #445d48;
  color: antiquewhite;
  border: none;
  text-align: center;
  margin: 20px auto;
  border-radius: 20px;
  padding: 10px 15px;
}
.btn:hover {
  color: white;
  background-color: #1d271e;
  cursor: pointer;
  border: none;
}
.input_div {
  width: 50%;
  display: grid;
  text-align: right;
}
.span {
  font-size: 0.8rem;
  color: red;
}
@media (max-width: 755px) {
  .div {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0px auto;
  }
  .input_div {
    display: block;
    text-align: center;
    width: 75%;
    margin: 7px auto;
  }
  .input{
    width: 85%;
  }
}
